<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI-Based Sport Analytics</title>
    {% include "components/header.html" %}
    <style>
      .container {
        min-height: 100vh;
      }
    </style>
  </head>
  <body class="bg-secondary">
    {% include "components/nav_mobile.html" %}

    <div
      class="container d-flex justify-content-center align-items-center flex-column"
    >
      <h1 class="fw-bold">Settings</h1>
      <div class="bg-light rounded-4 p-4 w-100">
        <!-- Personal Information Section -->
        <label class="text-muted fw-bolder d-block">
          Personal Information
        </label>
        <input
          type="text"
          class="form-control mt-3 w-100"
          placeholder="Fullname"
        />
        <input
          type="email"
          class="form-control w-100 mt-3"
          placeholder="Email"
        />
        <button
          class="w-100 btn btn-main mt-4 rounded rounded-4 d-flex align-items-center justify-content-center"
        >
          <i class="bi bi-save me-2"></i> Save
        </button>
      </div>

      <div class="bg-light rounded-4 mt-4 p-4 w-100">
        <!-- Change Password Section -->
        <label class="text-muted fw-bolder d-block"> Change Password </label>
        <input
          type="password"
          class="form-control w-100 mt-3"
          placeholder="New Password"
        />
        <input
          type="password"
          class="form-control w-100 mt-3"
          placeholder="Confirm Password"
        />
        <button
          class="w-100 btn btn-main mt-4 rounded rounded-4 d-flex align-items-center justify-content-center"
        >
          <i class="bi bi-saveh me-2"></i> Save
        </button>
      </div>

      <div class="bg-light rounded-4 mt-4 p-4 w-100">
        <!-- Others Section -->
        <label class="text-muted fw-bolder d-block"> Others </label>
        <button
          class="w-100 btn btn-outline-danger mt-4 rounded rounded-4 d-flex align-items-center justify-content-center text-danger border-danger"
        >
          <i class="bi bi-box-arrow-right me-2"></i> Logout
        </button>
      </div>
    </div>

    {% include "components/footer.html" %}
  </body>
</html>
