.text-main {
  color: #511ccd;
}

.bg-main {
  background-color: #511ccd;
  color: white;
}

.btn-main {
  border: 1px solid #511ccd;
  color: #511ccd;
}

.btn-main2 {
  background-color: #511ccd;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  width: fit-content;
}

.bg-secondary {
  background-color: rgb(242, 244, 247) !important;
}

.bg-light {
  background-color: white !important;
}
