<style>
  .nav-icon {
    font-size: 5vw;
    color: #511ccd;
  }

  .nav-text {
    font-size: 2.5vw;
    color: #511ccd;
  }

  .navbar-scan-wrapper {
    position: relative;
  }
  .nav-scan {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #511ccd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Use fixed to stay in place */
    bottom: 10px; /* Adjust this value to float above the navbar */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Ensure it appears above the navbar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 0;
  }

  .nav-scan i {
    font-size: 28px;
    color: #ffffff;
  }

  /* Responsive adjustments for larger screens */
  @media (min-width: 768px) {
    .nav-icon {
      font-size: 1.5rem;
    }

    .nav-text {
      font-size: 0.9rem;
    }
  }
</style>

<!-- Bottom Nav -->
<div class="navbar-scan-wrapper">
  <nav class="navbar shadow text-main bg-light navbar-expand fixed-bottom">
    <ul class="navbar-nav nav-justified w-100" id="nav-mobile">
      <li class="nav-item">
        <a class="nav-link text-center" href="/insights" data-name="history">
          <i class="bi bi-heart nav-icon"></i>
          <span class="d-block nav-text">Insights</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" href="/history" data-name="history">
          <i class="bi bi-clock-history nav-icon"></i>
          <span class="d-block nav-text">History</span>
        </a>
      </li>
      <li class="nav-item"></li>
      <!-- Empty center to keep spacing -->
      <li class="nav-item">
        <a class="nav-link text-center" href="/tips" data-name="tips">
          <i class="bi bi-lightbulb nav-icon"></i>
          <span class="d-block nav-text">Tips</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" href="/settings" data-name="settings">
          <i class="bi bi-gear nav-icon"></i>
          <span class="d-block nav-text">Settings</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Centered Floating Scan Button -->
  <a href="/scan" class="nav-scan" data-name="scan">
    <i class="bi bi-camera"></i>
  </a>
</div>
